<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>App de Flask - {% block titulo %}{% endblock titulo %}</title>
    </head>

    <body>
        {% block body %}
        {% endblock %}

        <script src="{{url_for('static', filename='scripts/socket.io.min.js')}}"></script>
        <script src="{{url_for('static', filename='scripts/logica.js')}}"></script>
    </body>
</html>